:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #B88E2F;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}

html {
  list-style: none;
  text-decoration: none;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* header section starts */

header {
  width: 100%;
}
/* navbar */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1030;
  background-color: var(--white);
}

.btn-cta {
    width: 222px;
    height: 74px;
    border: none;
    outline: none;
    background-color: var(--yellow);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-container {
  height: 100px;
  width: 1286px;
  display: flex;
  align-items: center;
  margin-inline: auto;
  mix-blend-mode: multiply;
}

.navbar-container > * {
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo span {
  font-size: 2.125rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-links ul {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  font-weight: 600;
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.nav-icons li {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* hero section */
.hero-container {
  margin-top: 100px;
  height: 717px;
  position: relative;
  object-fit: cover;
}

.hero-container button {
    position: absolute;
    top: 462px;
    right: 430px;
}

/* header section ends */
